*{
  font-family: 'Open Sans';
  user-select: none;
  text-decoration: none;
  color: white;
}

.scroll-watcher{
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0px;
  scale: 0 1;
  background-color: rgb(148, 0, 148);
  box-shadow: 0px 0px 10px rgb(255, 0, 255);
  transform-origin: left;
  border-radius: 5px;
  animation: scroll linear;
  animation-timeline: scroll();
}
@keyframes scroll {
  from{
      scale: 0 1;
  }
  to{
      scale: 1 1;
  }
}
html{
  scroll-behavior: smooth;
  background-color: black;
  margin: 0px;
}
body::-webkit-scrollbar{
  scrollbar-width: none;
}
.links a{
  transition: 500ms ease;
}
.links a:hover{
  color: rgb(255, 0, 255);
}
.greeting{
  display: flex;
  justify-content: center;
  position: relative;
  height: fit-content;
  width: 100%;
  top: 10px;
  font-size: 25px;
  transition: 500ms ease;
  white-space: nowrap;
}
.greeting h1{
  display: flex;
}
.greeting label{
  display: inline-block;
  animation: wave 700ms infinite alternate;
}
.greeting:hover span{
  scale: 1.1;
  margin-left: 15px;
}
.greeting span{
  overflow: hidden;
  text-wrap: nowrap;
  margin-left: 10px;
  display: inline-block;
  transition: 500ms ease;
  animation: name 2s infinite alternate;
  border-right: 2px solid;
}
@keyframes wave {
  0%{
      transform: rotate(35deg);
  }
  100%{
      transform: rotate(0deg);
  }
}
@keyframes name{
 0%{
   width: 0%;
 }
 100%{
  width: 100%;
  color: purple;
 }
}
#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}
#home .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.profile{   
  background: url(profile.jpeg);
  width: 300px;
  border-radius: 50%;
  background-size: cover;
  transition: 300ms ease;
}
.profile:hover{
  box-shadow: 0px 0px 100px rgb(134, 134, 134);
  scale: 1.05;
}
.nav{
  position: fixed;
  display: flex;
  top: 5px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(0, 0, 0);
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  margin-right: 20px;
}
.links{
  margin: 10px;
  font-weight: bold;
  transition: 300ms ease;
}
.links:hover{
  text-shadow: 0px 0px 25px rgb(255, 255, 255);
}
.resume{
  margin: 20px;
}
.resume a{
  padding: 7px;
  background-color: white;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  text-overflow: clip;
  text-wrap: nowrap;
  transition: 500ms ease;
}
.resume a:hover{
  background-color: rgb(255, 0, 255);
  box-shadow: 0px 0px 20px rgb(255, 0, 255);
  border-radius: 20px;

}
#About{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 50px;
}
#About h1{
  justify-self: flex-start;
  font-size: 35px;
}
#About .content{
  width: fit-content;
  padding: 30px;
  flex :3;
}
#About .content h2{
  font-size: 30px;
}
#About .content p{
  text-align: justify;
  font-size: 20px;
  text-indent: 2cm;
  width: fit-content;
  padding: 30px;
}
#About .content .ece{
  color: purple;
}
#About .interest{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-width: fit-content;
  flex: 1;
  padding: 0px;
}
#About .interest ul{
  list-style-type: disc;
  font-size: 20px;
  margin-left: 30px;
}
#About .interest li{
  list-style-type: none;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 5px;
  transition: 500ms ease;
}
.interest .interest-image{
    box-sizing: border-box;
    width: 250px;
    height: 250px;
}
.interest .interest-image img{
  width: 250px;
  height: 250px;
}
#About .interest li:hover{
  background-color: purple;
  scale: 1.05;
  position: relative;
  transform: rotate(-2deg);
}

#education{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
#education h1{
  font-size: 35px;
}
#education .container{
  scale: 1.2;
}
#education .clg, .schl{
  border-bottom: 2px solid purple;
  padding-bottom: 20px;
}
#skills{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
#skills h1{
  font-size: 35px;
}
#skills .container{
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3,33.33%);
}
#skills .container .skill{
  min-width: 35%;
  height: 10px;

  border-radius: 5px;
  background-color: white;
  margin-top:10px;
}

.skill-java{
  max-width: 75%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-kotlin{
  max-width: 45%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-cpp{
  max-width: 70%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-html{
  max-width: 75%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-android{
  max-width: 40%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-react{
  max-width: 60%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px; 
  transition: 1s ease-in-out;
}
.skill-dbms{
  max-width: 60%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
.skill-linux{
  max-width: 35%;
  background-color: purple;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: 1s ease-in-out;
}
#skill{ 
  animation: skill 2s infinite ease alternate;
}
@keyframes skill {
  0%{
      width: 0%;
  }
  100%{
      width: 100%;
      box-shadow: 0px 0px 20px purple;
  }
}
/* #projects{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:50px;
  height: max-content;
  min-height: 100vh;
  margin-bottom: 20px;
  border: 1px solid;
} */
#projects h1{
  font-size: 35px;
  text-align: center;
}
#projects .container{
  margin-top: 50px;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.tictac{
  min-width: 310px;
  max-width: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
.calci{
  min-width: 310px;
  max-width: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
.zeno{
  min-width: 310px;
  max-width: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
.skysage{
  min-width: 310px;
  max-width: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
.IoT{
  min-width: 310px;
  max-width: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
.Billing_System{
  min-width: 310px;
  max-width: 350px;
  min-height: 350px;
  margin: 10px;
  flex: 1;
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  animation: shade 2s infinite alternate;
}
/* #projects{
  height: 100vh;
  margin-bottom: 10px;
} */
#projects .container{
  display: flex;
  flex-wrap: wrap;
}
@keyframes shade {
  0%{
      box-shadow: 0px 0px 20px purple;
  }
  100%{
      box-shadow: 0px 0px 70px purple;
      scale: 1.02;
  }
}
#projects .container a{
  width: 100%;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  transition: 500ms ease;
  width: fit-content;
}
#projects .container a:hover{
  background-color: rgb(211, 2, 211);
}
.repo-link{
  justify-self: flex-end;
  background-color: white;
  width: fit-content;
  color: black;
}
#connect{
  border-top: 1px solid purple;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}
#connect .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-links{
  display: flex;
}
.connect-links img:hover{
  scale: 1.1;
  box-shadow: 0px 0px 20px purple;
}
.connect-links img{
  margin: 10px;
  border: 1px solid rgb(27, 27, 27);
  height: 40px;
  transition: 500ms ease;
}
.emoji{
  display: inline-block;
  animation: hover 1s infinite alternate;
}

@keyframes hover {
  0%{
      transform: rotate(10deg);
  }
  100%{
     transform: rotate(-10deg);
  }
}
@media screen and (max-width: 700px) {
  .navbar{
      overflow-x: hidden;
  }
  .nav a{
      font-size: 12px;
      margin: 0px;
      padding: 0px;
      text-overflow: clip;
      text-wrap: nowrap;
  }
  #projects .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .resume a{
      padding: 5px;
      margin-left: 5px;
  }
  #About .interest h1{
      text-align: center;
      font-size: 20px;
  }
  #About .interest{
      justify-content: center;
      align-items: center;
  }
  #About .interest ul{
      margin: auto;
      padding-left: 0px;
      font-size: 15px;
  }
  #About{
      height: 100vh;
      justify-content: center;
  }
  #About .interest .interest-image{
    width: 100px;
    height: 100px;
  }
  #About .interest .interest-image img{
    width: 100px;
    height: 100px;
  }
  #connect{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .connect-links{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  /* #projects{
      height: max-content;
  } */
  #skills{
      height: fit-content;
  }
  #skills h1{
      margin-top: 40px;
  }
  #skills .skill{
      width: 100%;
  }
  #skills .container{
      box-sizing: border-box;
      padding: 0px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
  }
  #education{
      height: fit-content;
      margin-bottom: 20px;
  }
  #education .clg, .schl{
      font-size: 14px;
      border-bottom: 2px solid purple;
      padding-bottom: 20px;
  }
  .greeting{
      font-size: 15px;
  }
  .profile{
      width: 200px;
  }
  #About .content h2{
      text-align: center;
      font-size: 20px;
  }
  #About .content{
      padding: 0px;

  }
  #About .content p {
      text-align: center;
      text-indent: 0px;
      font-size: 15px;
      padding: 0px;
  }
  .nav{
      justify-content: center;
      margin: 0px;
  }
  .navbar .links{
      margin: 0px 5px;
      padding: 0px;
      width: fit-content;
  }
}
